#submit,#startSurvey,#create-UserSurvey{
    border-radius: 20px;
    background-color: #7abaff;
    color: white;
    align-self: center;
}
#next{
    margin-left: 1%;
    margin-bottom: 3%;
}
#surveyLayout{
    display: none;

}
#submit{
    display: none;

}

.inputForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

#surveyLayout, #surveyPresentation{
    flex-direction: column;
    justify-content: center;
}


#progressBar{
    width:1%;
    height:20px;
}

.progressdiv{
    display: none;
}

.surveyrow{
    height:23em;
}
.alertform{
    margin: 0% 0 3% 0;
    color: #9e9d9d;
    font-weight: bolder;
}

.jumbotron {
    background-color:#007bff85 !important;
    color: white;
    margin-bottom: 0 !important;
}

.cointainer {
    background-color:#007bff85 !important;
    width: 100%;
}

.login,.signup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color:#007bff85 !important;

}

.row{
    align-items: center;
    justify-content: center !important;
    width: 100%;
    margin: 0 !important;;
}
.loginform{
    color:white;
}
.exit{
    display:flex;
    justify-content: flex-end;
}
.form-group input{
    background-color: #ffffff3d;
}
.loader{
    align-content: center;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 20000;
    height: 100vh;
    background-color: #0000008a;
}
.loader img{
    align-self: center;
}
#login,#signin{
    color: white;
    background-color: #7abaff;
    border-radius: 20px;
    border: 2px solid;
    padding: 4%;
}
.customA{
    color: white !important;
    text-decoration: underline !important;
    margin-left: 3%;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    color: #007bff85 !important;}

#answer{
    width: 80%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 2%;
    margin-top: 2%;
}
#startSurvey{
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
}
#startSurvey:hover{
    background-color: white;
    color: #7abaff;
}

#surveyTitle{
    text-align: center;
    margin-bottom: 2%;
}

.page-header{
    background-color: #7abaff;
    border-radius: 10px;
    padding: 2%;
    color: white;
}

.surveycontainer{
    padding: 4%;
}

.homeview{
    margin: 4% 0 !important;
    color:#8bc3ff;
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    flex-direction: column;
}

#answered{
    display:none;
}