body,#surveyPresentation,#submit,#answered{
    display:none;
}

#submit,#startSurvey{
    border-radius: 20px;
    background-color: #7abaff;
    color: #ffffff;
    align-self: center;
}

#create-UserSurvey {
    border-radius: 10px;
    background-color: #c3c3c3;
    align-self: center;
    font-size: x-large;
    padding-bottom: 1%;
}

#next{
    margin-left: 1%;
    margin-bottom: 3%;
}

.inputForm,.loader,.homeview,.exit {
    display: flex;
}

.inputForm{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

#surveyLayout, #surveyPresentation{
    flex-direction: column;
    justify-content: center;
}


#progressBar{
    width:1%;
    height:20px;
}


.surveyrow{
    height:23em;
}
.alertform{
    margin: 0% 0 3% 0;
    color: #9e9d9d;
    font-weight: bolder;
}

.jumbotron {
    background-color:#007bff85 !important;
    margin-bottom: 0 !important;
    padding: 2rem 2rem !important;
}

.cointainer {
    background-color:#007bff85 !important;
    width: 100%;
}

.login,.signup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color:#007bff85 !important;

}

.row{
    align-items: center;
    justify-content: center !important;
    width: 100%;
    margin: 0 !important;
    padding-top: 4rem;

}
.loginform, .jumbotron,#create-UserSurvey,#login,#signin,.page-header{
    color: #ffffff;
}
.exit{
    justify-content: flex-end;
}
.form-group input{
    background-color: #ffffff3d;
}
.loader{
    align-content: center;
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 20000;
    height: 100vh;
    background-color: #0000008a;
}
.loader img{
    align-self: center;
}
#login,#signin{
    background-color: #7abaff;
    border-radius: 20px;
    border: 2px solid;
    padding: 4%;
}
.customA{
    color: white !important;
    text-decoration: underline !important;
    margin-left: 3%;
}

.nav-link{
    font-weight: 500;
}

.nav-link:hover{
    color: #007bff85 !important;}

#answer{
    width: 80%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 2%;
    margin-top: 2%;
}
#startSurvey{
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
}
#startSurvey:hover{
    background-color: white;
    color: #7abaff;
}

#surveyTitle{
    text-align: center;
    margin-bottom: 2%;
}

.page-header{
    background-color: #7abaff;
    border-radius: 10px;
    padding: 2%;
}

.surveycontainer{
    padding: 4%;
}

.homeview{
    margin: 4% 0 !important;
    color:#8bc3ff;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}
.homeview h2{
    cursor: pointer !important;
    color: #515151 !important;
    margin-bottom: 2rem !important;
}
.homeview h2:hover{
    color: #808080 !important;
}

#youMustLog{
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% { color: black; }
    50% { color: blue; }
    100% { color: green; }
}
@-moz-keyframes color-change {
    0% { color: black; }
    50% { color: blue; }
    100% { color: green; }
}
@-ms-keyframes color-change {
    0% { color: #8bc3ff; }
    50% { color: white; }
    100% { color: #8bc3ff; }
}
@-o-keyframes color-change {
    0% { color: #8bc3ff; }
    50% { color: white; }
    100% { color: #8bc3ff; }
}
@keyframes color-change {
    0% { color: #8bc3ff; }
    50% { color: white; }
    100% { color: #8bc3ff; }
}

.question{
    font-style: italic;
    color: gray;
    margin-top: 3%;
    font-size:150%;
}

.answer{
    margin: 2%;
    font-size:150%;
}

#answeredSurvey{
    padding-bottom: 4%;
}